@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray
}

header {
    background-color: lightgray;
}

header span.material-icons {
    cursor: pointer;
    display: block;
    text-align: center;
    color: #fff;
    background-color: rgb(27, 27, 27);
    padding: 10px;
}

header h1 {
    text-align: center;
    padding: 10px;
    color: #260101;
}

menu {
    display: none;
    background-color: lightgray;
}

menu a {
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #275950;
    border-top: 1px solid gray;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

menu a:hover {
    background-color: #275950c3;
    color: #ffffffc3;
}

main {
    width: 90vw;
    background-color: #fff;
    margin: auto;
    border-radius: 8px;
    margin-top: 30px;
}

main article h2 {
    padding: 10px 20px;
    color: #260101;
}

main article p {
    text-align: justify;
    text-indent: 20px;
    padding: 10px 20px;
}