@charset "UTF-8";

h1{
    text-align: center;
}

div{
    background-color: lightcoral;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    height: 300px;
    width: 300px;
}

div:hover{
    background-color: aqua;
}
